# Игнорируем временные файлы, созданные редакторами
*.log
*.tmp
*.swp
*.DS_Store

# Игнорируем системные файлы
Thumbs.db

# Игнорируем каталоги, специфичные для операционных систем
node_modules/
dist/
build/

# Игнорируем конфиденциальные данные
.env